.body
  = render 'shared/side_bar'
  
  .contents
    .contents__header
      .group
        .contents__header__group-name
          = @group.name
        .contents__header__member
          Member：
          - @group.users.each do |user|
            =user.name
      .contents-header__edit-button
        = link_to 'Edit' , edit_group_path(@group)
    .contents__message-area
      .contents__messages
        = render @messages
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'